@use "functions" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin cover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-face($font-name, $file-name, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    src: url("@assets/fonts/#{$file-name}.woff2") format("woff2");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
